.app {
  width: 100%;
  padding: 1rem;
  background: rgba(3, 180, 47, 0.616);
}

.letter {
  background: #fff;
  text-align: center;
  font-size: 6rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 1rem 0;
  color: rgba(0,0,0,0.75);
}

.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.controller button {
  border: none;
  margin: 0 auto;
  padding: 1rem 3rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.prev {
  background: rgb(206, 47, 7);
}

.sound {
  background: rgb(27, 114, 228);
}

.next {
  background: rgb(76, 36, 219);
}

.field-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  width: 50%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.field span {
  width: 100%;
  font-size: 1.35rem;
}

.field:first-child img {
  width: 12rem;
  height: 12rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}