.App {
  text-align: center;
}

.main-header {
  background: rgb(22, 146, 84);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 2px;
  box-shadow: 0 0 10px 5px rgba(2,2,2,0.25);
}

.player {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgb(21, 10, 51);
  color: #fff;
}

.name {
  width: 60%;
  font-size: 20px;
}

button {
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
}

.decrement { 
  background: rgb(224, 57, 57);
}

.increment {
  background: rgb(33, 155, 74);
}

.score {
  padding: 1rem;
  font-size: 17px;
}